:root {
	--main-color: rgba(238, 16, 16, 0.938);
	--text-color: white;
	--container-color: rgba(0, 0, 0, 0.89);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	background-image: url('../imgs/definitiva.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

button,
.btn-input {
	cursor: pointer;
}

h1,
p {
	text-align: center;
}

h1 {
	margin: 15px;
	padding: 5px;

	color: var(--main-color);
	font-size: 45px;
	font-weight: bold;
}

p {
	margin: 5px;
	color: var(--text-color);
}

.container {
	width: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.form-container {
	padding: 15px;
	background-color: var(--container-color);
}

form,
form .pass,
form .buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form input {
	width: 100%;
	padding: 10px;
}

form .pass {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.visible-btn {
	margin: 1px;
	background: transparent;
	border: 0;
	filter: invert(1);
	-webkit-filter: invert(1);
}

.visible-btn img {
	width: 100%;
}

.no-btn-input {
	margin: 15px 0;

	background: transparent;
	border: 0;
	border-bottom: 3px solid var(--main-color);
	color: var(--text-color);
	font-size: 18px;
}

.buttons {
	width: 80%;
	margin-top: 20px;
	padding: 5px;
}

.btn-input {
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
	background: var(--main-color);
	border: 0;
	color: var(--text-color);

	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.btn-input:hover {
	color: var(--container-color);
	font-size: 17px;
	transition: transform 0.2s ease;
	-webkit-transition: transform 0.2s ease;
	-moz-transition: transform 0.2s ease;
	-ms-transition: transform 0.2s ease;
	-o-transition: transform 0.2s ease;
	transform: translateY(-2px);
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
}
